In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
day_data = pd.read_csv('all_data.csv')
day_data.head()

,instant_x,dateday,season_x,year,month,hour,holiday_x,weekday_x,workingday_x,weathersit_x,...,weekday_y,workingday_y,weathersit_y,temp_y,atemp_y,hum_y,windspeed_y,casual_y,registered_y,day_count
0,1,2011-01-01,1,0,1,0,0,6,0,1,...,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-01,1,0,1,1,0,6,0,1,...,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
2,3,2011-01-01,1,0,1,2,0,6,0,1,...,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
3,4,2011-01-01,1,0,1,3,0,6,0,1,...,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
4,5,2011-01-01,1,0,1,4,0,6,0,1,...,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985

In [3]:
day_data.dtypes

instant_x         int64
dateday          object
season_x          int64
year              int64
month             int64
hour              int64
holiday_x         int64
weekday_x         int64
workingday_x      int64
weathersit_x      int64
temp_x          float64
atemp_x         float64
hum_x           float64
windspeed_x     float64
casual_x          int64
registered_x      int64
hour_count        int64
instant_y         int64
season_y          int64
holiday_y         int64
weekday_y         int64
workingday_y      int64
weathersit_y      int64
temp_y          float64
atemp_y         float64
hum_y           float64
windspeed_y     float64
casual_y          int64
registered_y      int64
day_count         int64
dtype: object

In [4]:
day_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 30 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   instant_x     17379 non-null  int64
 1   dateday       17379 non-null  object
 2   season_x      17379 non-null  int64
 3   year          17379 non-null  int64
 4   month         17379 non-null  int64
 5   hour          17379 non-null  int64
 6   holiday_x     17379 non-null  int64
 7   weekday_x     17379 non-null  int64
 8   workingday_x  17379 non-null  int64
 9   weathersit_x  17379 non-null  int64
 10  temp_x        17379 non-null  float64
 11  atemp_x       17379 non-null  float64
 12  hum_x         17379 non-null  float64
 13  windspeed_x   17379 non-null  float64
 14  casual_x      17379 non-null  int64
 15  registered_x  17379 non-null  int64
 16  hour_count    17379 non-null  int64
 17  instant_y     17379 non-null  int64
 18  season_y      17379 non-null  int64
 19  holiday_y     17379 non-null  int64
 20  weekday_y     17379 non-null  int64
 21  workingday_y  17379 non-null  int64
 22  weathersit_y  17379 non-null  int64
 23  temp_y        17379 non-null  float64
 24  atemp_y       17379 non-null  float64
 25  hum_y         17379 non-null  float64
 26  windspeed_y   17379 non-null  float64
 27  casual_y      17379 non-null  int64
 28  registered_y  17379 non-null  int64
 29  day_count     17379 non-null  int64
dtypes: float64(8), int64(21), object(1)
memory usage: 4.0+ MB

In [5]:
day_data.isnull().sum()

instant_x       0
dateday         0
season_x        0
year            0
month           0
hour            0
holiday_x       0
weekday_x       0
workingday_x    0
weathersit_x    0
temp_x          0
atemp_x         0
hum_x           0
windspeed_x     0
casual_x        0
registered_x    0
hour_count      0
instant_y       0
season_y        0
holiday_y       0
weekday_y       0
workingday_y    0
weathersit_y    0
temp_y          0
atemp_y         0
hum_y           0
windspeed_y     0
casual_y        0
registered_y    0
day_count       0
dtype: int64

In [6]:
print("Jumlah duplikasi: ", day_data.duplicated().sum())

Jumlah duplikasi:  0

In [7]:
day_data.describe()

,instant_x,season_x,year,month,hour,holiday_x,weekday_x,workingday_x,weathersit_x,temp_x,...,weekday_y,workingday_y,weathersit_y,temp_y,atemp_y,hum_y,windspeed_y,casual_y,registered_y,day_count
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,...,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,...,3.003683,0.682721,1.391680,0.496987,0.475775,0.627229,0.190098,854.339720,3679.353242,4533.692963
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,...,2.005771,0.465431,0.540501,0.182445,0.162426,0.141779,0.077204,685.686754,1544.953518,1917.376947
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,...,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,...,1.000000,0.000000,1.000000,0.340000,0.338363,0.520000,0.134950,318.000000,2545.000000,3214.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,...,3.000000,1.000000,1.000000,0.502500,0.490122,0.625833,0.180967,724.000000,3681.000000,4563.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,...,5.000000,1.000000,2.000000,0.655833,0.610488,0.729583,0.233204,1100.000000,4801.000000,5986.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,...,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [ ]:
day_data.dropna(axis=0, inplace=True)